body{
  background-image: linear-gradient(blue,white);
}
  h3{
  text-decoration-line: underline;
  text-decoration-style: solid; /* this is default */
  font-size: 45px;
   text-shadow: 2px 2px 4px blue;
  font-family: Papyrus;
}


